ul {
    list-style: none;
}

.to-do {
    display: flex;
    justify-content: space-between;
}

.btn-remove {
    color: #FE7F2D;
}

.late {
    color: #FB3640;
}

@media (min-width: 700px) {
    
    #todo {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

}